@charset "UTF-8";


.header h1 {
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background: #fff100;
}

.header h1:before {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #000;
}



body{
  
  margin:30px auto;
  width: 500px;
  height: 500px;   
  
}

.card {
  display: flex;
  justify-content:space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.card-button {
  display: flex;
  justify-content:space-between;
  margin-left: 30%;
  margin-right: 30%;
}


.ballgame {
  margin-top: 50px;
}

#game_area{
  width: 500px;
  height: 500px;
  background-color:lavender;
  
}

#ball{
  width: 80px;
  height: 80px;
  background-color:pink;
  border-radius: 50%;
  left: 0px;
  top: 0px;
  position:relative;
  transition: left 2s, top 2s;
}

